.DS_Store
.RData
.RDataTmp
.Rhistory
AJPH-S-21-00386.pdf
Chicago_testing.Rmd
variable_names.txt
us-test-sites-nov-2010.dbf 
us-test-sites-nov-2010.prj 
us-test-sites-nov-2010.shp 
us-test-sites-nov-2010.shx
